<div class="login-page-body">
  <div class="login-page-body_left">
    <h2 class="login-page-body_left_title">ログイン</h2>
    <h5 class="login-page-body_left_about">登録しているユーザーでログイン</h5>
    <%= link_to "初めてご利用の方（新規会員登録）", new_user_path, class:'btn login-btn' %>
    <div class="test-login">※アカウント登録をせずに機能を確かめたい方は</div>
    <%= link_to 'こちら', tops_guest_sign_in_path, method: :post %>
    <div class="sns-login">
      <!-- SNSログインボタン -->
      <%= render partial: 'layouts/snsLoginBtn' %>
    </div>
  </div>
  <div class="login-page-body_right">
    <%= form_with scope: :session, local: true do |f| %>
      <div class="form-group">
        <%= f.label :email, class: 'field-label' %>
        <%= f.email_field :email, class: 'form-control', id:'user_email' %>
      </div>
      <div class="form-group">
        <%= f.label :password, class: 'field-label' %>
        <%= f.password_field :password, class: 'form-control', id:'user_password' %>
      </div>
      <%= f.submit 'ログインする', class: 'btn btn-primary', id: 'submit_btn' %>
    <% end %>
  </div>
</div>