
<!-- ペットシッター詳細の上部部分-->
<div class="breadcrumbs-list">
  <%= render "shared/breadcrumbs" %>
</div>
<div class="shop-header">
  <div class="info-wrap">
    <div class="shop-controller">
      <% if @petsitter.url %>
        <div class="shop-name"><%= link_to @petsitter.name, @petsitter.url, class:'shop-name-with-link' %></div>
      <% else %>
        <div class="shop-name"><%= @petsitter.name %></div>
      <% end %>
    </div>
    <div class="shop-top-info">
      <div class="shop-top-info_rate"><%= render partial: 'layouts/rate' %></div>
      <div class='shop-top-info_reviews'>
        <%# ここにcontrollerActionの分岐で入るようにする %>
        <%= link_to petsitter_reviews_path(@petsitter.id) do %>
          <i class='fas fa-comment-dots'></i><% if @petsitter&.reviews %><%= @petsitter.reviews.count %><% else %>0<% end %> 件
        <% end %>
      </div>
      <div class='shop-top-info_bookmarks'>
        <% if current_user != nil %>
          <% if current_user.already_liked?(@petsitter) %>
            <%= link_to petsitter_like_path(@petsitter.id, current_user.id), method: :delete do %>
              <i class='fas fa-bookmark'></i><% if @petsitter&.liked_users %><%= @petsitter.liked_users.count %><% else %>0<% end %> 件
            <% end %>
          <% else %>
            <%= link_to petsitter_likes_path(@petsitter.id), method: :post do %>
              <i class='fas fa-bookmark'></i><% if @petsitter&.liked_users %><%= @petsitter.liked_users.count %><% else %>0<% end %> 件
            <% end %>
          <% end %>
        <% else %>
          <%= link_to petsitter_likes_path(@petsitter.id), method: :post do %>
            <i class='fas fa-bookmark'></i><% if @petsitter&.liked_users %><%= @petsitter.liked_users.count %><% else %>0<% end %> 件
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="shop-bottom-info">
      <span>エリア：</span>
      <%# TODO 、でareaの部分の文字を分裂させる %>
      <% @petsitter.area.split(/、/).each do |area| %>
        <%= link_to area, petsitters_path(@q, :'q[area_cont' => "#{area}") %>&nbsp;
      <% end %>
      <span class="pet-type">対応可能動物種類：</span>
      <div class='pet-types'>
        <ul class='pet-types-list'>
          <% @petsitter.pet_type.split(/、/).each do |pet_type| %>
            <%= link_to pet_type, petsitters_path(@q, :'q[name_or_pet_type_cont' => "#{pet_type}") %>&nbsp;
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class='action-wrap'>
    <div class='action-wrap_app'>
      <!-- 口コミ投稿 -->
      <div class='action-btn' id='testsample'>
        <% if current_user != nil %>
            <%= link_to petsitter_new_reviews_path(@petsitter.id), class:'action-link' do %>
              <i class='fas fa-user-check fa-lg'></i> <span class='action-name'>行った</span>
            <% end %>
        <% else %>
          <%= link_to petsitter_new_reviews_path(@petsitter.id), class:'action-link' do %>
            <i class='fas fa-bookmark fa-lg'></i> <span class='action-name'>行った</span>
          <% end %>
        <% end %>
      </div>
      <!-- bookmark -->
      <div class='action-btn' id='testsample'>
        <% if current_user != nil %>
          <% if current_user.already_liked?(@petsitter) %>
            <%= link_to petsitter_like_path(@petsitter.id, current_user.id), class:'action-link', method: :delete do %>
              <i class='fas fa-bookmark fa-lg'></i> <span class='action-name'>保存</span>
            <% end %>
          <% else %>
            <%= link_to petsitter_likes_path(@petsitter.id), class:'action-link', method: :post do %>
              <i class='fas fa-bookmark fa-lg'></i> <span class='action-name'>保存</span>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to petsitter_likes_path(@petsitter.id), class:'action-link', method: :post do %>
            <i class='fas fa-bookmark fa-lg'></i> <span class='action-name'>保存</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
