

<%= render partial: 'petsitters/shopHeader' %>
<ul class="shop-menu-bar">
  <li class="shop-menu-link"><%= link_to "店舗トップ", petsitter_path %></li>
  <li class="shop-menu-link selected-menu"><%= link_to "詳細", petsitter_details_path %></li>
  <li class="shop-menu-link"><%= link_to "口コミ", petsitter_reviews_path %></li>
  <li class="shop-menu-link"><%= link_to "地図", petsitter_map_path %></li>
</ul>

<div class="shop-content">
  <!-- 詳細 -->
  <div class="shop-content_details">
    <div class="items-wrapper">
      <div class="item-area">
        <div class="item-area_heading">店舗名</div>
        <div class="item-area_content"><%= @petsitter&.name %></div>
      </div>
      <div class="item-area">
        <div class="item-area_heading">URL</div>
        <div class="item-area_content"><%= @petsitter&.url %></div>
      </div>
      <div class="item-area">
        <div class="item-area_heading">電話番号</div>
        <div class="item-area_content"><%= @petsitter&.phone %></div>
      </div>
      <div class="item-area">
        <div class="item-area_heading">住所</div>
        <div class="item-area_content"><%= @petsitter&.address %></div>
      </div>
      <div class="item-area">
        <div class="item-area_heading">営業日</div>
        <div class="item-area_content"><%= @petsitter&.regular_holiday %></div>
      </div>
      <div class="item-area">
        <div class="item-area_heading">営業時間</div>
        <div class="item-area_content"><%= @petsitter&.business_hours %></div>
      </div>
      <div class="item-area">
        <div class="item-area_heading">対応可能動物</div>
        <div class="item-area_content"><%= @petsitter&.pet_type %></div>
      </div>
      <div class="item-area">
        <div class="item-area_heading">保有資格</div>
        <div class="item-area_content"><%= @petsitter&.qualification %></div>
      </div>
      <div class="item-area">
        <div class="item-area_heading">登録番号</div>
        <div class="item-area_content"><%= @petsitter&.registration_number %></div>
      </div>
      <div class="item-area">
        <div class="item-area_heading">ペットシッター保険</div>
        <div class="item-area_content"><%if @petsitter&.insurance %>有<% else %>無<% end %></div>
      </div>
    </div>
  </div>
</div>