<h1>ペットシッター一覧</h1>

<div>
  <p>ペットシッター一覧</p>
  <ul>
    <% @petsitters.each do |petsitter| %>
      <li><%= image_tag petsitter.image.url, :size => '200x150' unless petsitter.image.url.nil? %></li>
      <li>id:<%= petsitter.id %></li>
      <li>名称:<%= petsitter.name %></li>
      <li>メール:<%= petsitter.email %></li>
      <li>いいね:<%= petsitter.liked_users&.count %></li>
      <li><%= link_to '詳細', petsitter , class: 'nav-link' %></li>
    <% end %>
  </ul>
</div>
