<h1>ペットシッター一覧</h1>
<div class='nav justify-content-end'>
  <%= link_to 'トップページへ', root_path, class:'nav-link' %>
</div>

<div>
  <p>ペットシッター一覧</p>
  <ul>
    <% @petsitters.each do |petsitter| %>
      <li><%= image_tag petsitter.image.url, :size => '200x150' unless petsitter.image.url.nil? %></li>
      <li><%= petsitter.id %></li>
      <li><%= petsitter.name %></li>
      <li><%= petsitter.email %></li>
      <li><%= link_to '詳細', petsitter , class: 'nav-link' %></li>
    <% end %>
  </ul>
</div>
