

<%= render partial: 'petsitters/shopHeader' %>
<ul class="shop-menu-bar">
  <li class="shop-menu-link selected-menu"><%= link_to "店舗トップ", petsitter_path %></li>
  <li class="shop-menu-link"><%= link_to "詳細", petsitter_details_path %></li>
  <li class="shop-menu-link"><%= link_to "口コミ", petsitter_reviews_path %></li>
  <li class="shop-menu-link"><%= link_to "地図", petsitter_map_path %></li>
</ul>
<div class="shop-content">

  <!-- 口コミ -->
  <div class="shop-content_reviews">
    <div class="reviews-header">
      <div class="reviews-header_count">全&nbsp;<span class="number"><%= @petsitter.reviews.count %></span>&nbsp;件</div>
      <%= link_to "口コミを投稿する", petsitter_new_reviews_path, class: 'reviews-header_post' %>
    </div>
    <% if @petsitter.reviews %>
      <% @petsitter.reviews.each do |review| %>
        <!-- 口コミ投稿内容 -->
        <div class="reviews-box">
          <div class="reviews-box_reviews-info">
            <div class="reviews-box-user-info">
              <%= image_tag getUserByUserId(review.user_id).image.url, class:'reviews-box-user-info_photo' unless getPetsitterByPetistterId(review.petsitter_id)&.image.url.nil? %>
              <div class="reviews-box-user-info_name">
                <div class="user-info"><%= getUserByUserId(review.user_id).name %>さんの口コミ</div>
              </div>
            </div>
            <% if review.user.id == current_user.id %>
              <div class="user-action">
                <%= link_to "編集", edit_review_path %>
                <%= link_to "削除", review_path, method: :delete, data:
                    { confirm: '本当に削除して良いですか?',
                      cancel: 'やめる',
                      commit: '削除する'}, title: '削除確認' %>
              </div>
            <% end %>
          </div>
          <div class="reviews-box_reviews-rate">
            <div class="rate-container">
              <!--星評価-->
              <div id="viewReview-star-rate-<%= review.id %>" class="shop-star-rate"></div>
              <script>
                  $('#viewReview-star-rate-<%= review.id %>').raty({
                      size: 16,
                      half: true,
                      starOff:  '<%= asset_path('star-off-little.png') %>',
                      starOn : '<%= asset_path('star-on-little.png') %>',
                      starHalf: '<%= asset_path('star-half-little.png') %>',
                      readOnly: true,
                      score: "<%= review.rate %>",
                  });
              </script>
              <div class="shop-rating"><%= review.rate %></div>
<!--              ★★★★★ 3.5-->
            </div>
          </div>
          <div class="reviews-box_reviews-body">
            <div class="reviews-box_reviews-body_date">
              <%= review.created_at.strftime('%Y/%m/%d') %>投稿
<!--              2021/01投稿-->
            </div>
            <div class="reviews-box_reviews-body_title">
              <%= review.title %>
<!--              素晴らしいペットシッター-->
            </div>
            <div class="reviews-box_reviews-body_text">
              <%= review.content %>
<!--              とても親切に対応していただきました！ありがとうございます！-->
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      まだ口コミはありません
    <% end %>
  </div>
</div>

<!-- 口コミ投稿フォーム -->
<%#= render partial: 'reviews/form', locals: { review: @review } %>


