
<%= render partial: 'petsitters/shopHeader' %>
<ul class="shop-menu-bar">
  <li class="shop-menu-link selected-menu"><%= link_to "店舗トップ", petsitter_path %></li>
  <li class="shop-menu-link"><%= link_to "詳細", petsitter_details_path %></li>
  <li class="shop-menu-link"><%= link_to "口コミ", petsitter_reviews_path %></li>
  <li class="shop-menu-link"><%= link_to "地図", petsitter_map_path %></li>
</ul>
<div class="shop-content">
  <!-- 店舗トップ -->
  <div class="shop-content_top">
    <%= image_tag @petsitter.image.url, class:'top-cover-img' unless @petsitter.image.url.nil? %>
    <div class="shop-outline">
      たんぽぽハウス 高田馬場店は高田馬場駅から徒歩3分と近く、「噂の都内最安店」として有名な古着屋です。紳士服や婦人服を始め、バッグやシューズなど、幅広い品揃えと安い価格がおすすめポイントです。
    </div>
  </div>
</div>