<h1>ペットシッター詳細画面</h1>

<table class="table table-hover">
  <tbody>

  <tr>
    <%= image_tag @petsitter.image.url unless @petsitter.image.url.nil? %>
  </tr>
  
<!-- いいね機能 -->
  <%#= @petsitter.liked_users.count %>
  <%# if current_user.already_liked?(@petsitter) %>
    <%#= link_to petsitter_like_path(@petsitter.id), method: :delete, data: {"turbolinks" => false}, remote: true do %>
      <%#= fa_icon 'heart', id: "heart__red" %>
    <%# end %>
  <%# else %>
    <%#= link_to petsitter_likes_path(@petsitter.id), method: :post, data: {"turbolinks" => false}, remote: true do %>
      <%#= fa_icon 'heart', id: "heart__normal" %>
    <%# end %>
  <%# end %>

  <!-- いいね機能 -->
  <tr>いいね件数: <%= @petsitter.likes.count %>
    <% if current_user.already_liked?(@petsitter) %>
      <%= link_to 'いいねを取り消す', petsitter_like_path(@petsitter.id), method: :delete %>
    <% else %>
      <%= link_to 'いいね', petsitter_likes_path(@petsitter.id), method: :post %>
    <% end %>
    <h2>いいねしたユーザー</h2>
    <% @petsitter.liked_users.each do |user| %>
      <li><%= user.email %></li>
    <% end %>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:id) %></th>
    <td><%= @petsitter.id %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:name) %></th>
    <td><%= @petsitter.name %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:email) %></th>
    <td><%= @petsitter.email %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:address) %></th>
    <td><%= @petsitter.address %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:prefecture) %></th>
    <td><%= @petsitter.prefecture %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:town) %></th>
    <td><%= @petsitter.town %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:phone) %></th>
    <td><%= @petsitter.phone %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:business_hours) %></th>
    <td><%= @petsitter.business_hours %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:regular_holiday) %></th>
    <td><%= @petsitter.regular_holiday %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:pet_type) %></th>
    <td><%= @petsitter.pet_type %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:qualification) %></th>
    <td><%= @petsitter.qualification %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:registration_number) %></th>
    <td><%= @petsitter.registration_number %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:insurance) %></th>
    <td>
      <%if @petsitter.insurance %>
        有
      <% else %>
        無
      <% end %>
    </td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:created_at) %></th>
    <td><%= @petsitter.created_at %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:updated_at) %></th>
    <td><%= @petsitter.updated_at %></td>
  </tr>

  <%= link_to "編集", edit_petsitter_path, class: 'btn btn-primary mr-3' %>
  <%= link_to "削除", @petsitter, method: :delete, data: {confirm: "ペットシッター#{@petsitter.name}を削除します。よろしいですか？"}, class: 'btn btn-danger', id:'Petsitter_delete_btn' %>

  </tbody>
</table>

<!-- 口コミ投稿フォーム -->
<%= render partial: 'reviews/form', locals: { review: @review } %>

<!-- 口コミ表示 -->
<%= render partial: 'reviews/show-reviews', locals: { reviews: @reviews } %>