<h1>ペットシッター詳細画面</h1>

<table class="table table-hover">
  <tbody>

  <tr>
    <%= image_tag @petsitter.image.url unless @petsitter.image.url.nil? %>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:id) %></th>
    <td><%= @petsitter.id %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:name) %></th>
    <td><%= @petsitter.name %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:email) %></th>
    <td><%= @petsitter.email %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:address) %></th>
    <td><%= @petsitter.address %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:prefecture) %></th>
    <td><%= @petsitter.prefecture %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:town) %></th>
    <td><%= @petsitter.town %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:phone) %></th>
    <td><%= @petsitter.phone %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:business_hours) %></th>
    <td><%= @petsitter.business_hours %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:regular_holiday) %></th>
    <td><%= @petsitter.regular_holiday %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:pet_type) %></th>
    <td><%= @petsitter.pet_type %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:qualification) %></th>
    <td><%= @petsitter.qualification %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:registration_number) %></th>
    <td><%= @petsitter.registration_number %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:insurance) %></th>
    <td>
      <%if @petsitter.insurance %>
        有
      <% else %>
        無
      <% end %>
    </td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:created_at) %></th>
    <td><%= @petsitter.created_at %></td>
  </tr>

  <tr>
    <th><%= Petsitter.human_attribute_name(:updated_at) %></th>
    <td><%= @petsitter.updated_at %></td>
  </tr>

  <%= link_to "編集", edit_petsitter_path, class: 'btn btn-primary mr-3' %>
  <%= link_to "削除", @petsitter, method: :delete, data: {confirm: "ユーザー#{@petsitter.name}を削除します。よろしいですか？"}, class: 'btn btn-danger', id:'Petsitter_delete_btn' %>

  </tbody>
</table>

<!-- 口コミ入力フォーム -->
<%= form_with model: @review, local: true do |f| %>

  <!--エラーメッセージ-->

  <!--商品コードの送信-->
  <%= f.hidden_field :petsitter_id, { value: @petsitter.id } %>

  <!-- タイトル -->
  <div class="form-group row">
    <%= f.label :title, 'タイトル ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <!-- 評価 -->
  <div class="form-group row" id="star">
    <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>

  <!-- 評価javascript -->
  <script>
      $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'review[rate]',
          half: true,
      });
  </script>

  <!-- 口コミ -->
  <div class="form-group row">
    <%= f.label :content, '口コミ内容 ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_area :content, class: "form-control", rows: "8",
                      placeholder:'口コミ内容がなくても、タイトルと評価のみで投稿できます。
                        まずは投稿してみましょう！投稿してから編集もできますよ！' %>
    </div>
  </div>

  <!-- 確認ボタン -->
  <div class="form-group row justify-content-end">
    <div class="col-md-9">
      <%= f.submit '投稿する', class:"btn btn-success" %>
    </div>
  </div>

<% end %>

<!-- 口コミ表示 -->

<% if @reviews.present? %>
  <% @reviews.each do |review| %>
    <div class="row @reviews">
      <div class="col-md-2 @reviews-user">
        <%= link_to review.user do %>
          <%= image_tag review.user.image.url ,width: '100px' %>
        <% end %>
        <p class="@reviews-title"><%= link_to review.user.name, review.user %></p>
<!--        <p class="@reviews-prof"><%#= review.user.gender %> <%#= review.user.height %> <%#= review.user.weight %></p>-->
      </div>
      <div class="col-md-6 mb-3">
        <div class=" @reviews-content">
<!--          <p><%#= simple_time(review.created_at) %></p>-->
          <h4 class="mb-3">評価：<%= review.rate %>点 | <%= review.title %></h4>

          <!--星評価-->
          <div id="star-rate-<%= review.id %>"></div>
          <script>
              $('#star-rate-<%= review.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= review.rate %>,
              });
          </script>
          <!--/星評価-->

          <p><%= review.content %></p>
        </div>
      </div>
<!--      <div class="col-md-4">-->
        <%#= link_to review.product do %>
<!--          <div class="@reviews-product">-->
<!--            <img src="<%#= review.product.image_url %>" alt="">-->
<!--            <p><%#=  review.product.title %></p>-->
<!--          </div>-->
        <%#end %>
<!--      </div>-->
      <div class="col-md-12 edit-button">
        <% if current_user == review.user %>
          <%= link_to '口コミを編集', edit_review_path(review), method: :get, class:'btn btn-default' %>
          <%= link_to '口コミを削除', review, method: :delete, class:'btn btn-default' %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
