
<!-- flashメッセージの表示 -->
<%= render partial: 'layouts/errorMessage' %>

<!-- indexページ用headerHTML -->
<div id="home" class="big-bg">
  <header class="page-header wrapper">
    <h1><%=link_to image_tag("logooo.png", class: 'logo' ), root_path%></h1>
    <nav>
      <ul class="index-main-nav">
        <% if current_user %>
          <!-- ログイン中ユーザー用メニュー -->
          <li><%= link_to 'トップページ', root_path %></li>
          <li><%= link_to 'ペットシッター一覧', petsitters_path %></li>
          <li><%= link_to 'ユーザー詳細', user_path(current_user.id) %></li>
          <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
        <% else %>
          <!-- 未ログインユーザー用メニュー -->
          <li><%= link_to 'トップページ', root_path %></li>
          <li><%= link_to 'ペットシッター一覧', petsitters_path %></li>
          <li><%= link_to '新規登録', new_user_path %></li>
          <li><%= link_to 'ログイン', login_path %></li>
          <li><%= link_to 'ゲストログイン', tops_guest_sign_in_path, method: :post %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <div class="home-content wrapper index-page-title-wrapper">
    <p2 class="page-title">評判のペットシッター探しなら<br>
      ペットシッターリスト</p2>
  </div>

  <div class="search-wrapper header-bottom">
    <div class="index-search-wrap">
      <div class="search-explanation">
        エリア・キーワードから探す
      </div>
      <%= search_form_for(@q, url:petsitters_path, class: 'search-field') do |f| %>
        <div class="search-frame">
          <div class="search-group">
            <%= f.search_field :address_cont, :placeholder => "エリア[例：新宿]", class: 'top-search-form', id:'top-search-form-area' %>
          </div>
          <div class="search-group before-submit">
            <%= f.search_field :name_or_pet_type_cont, :placeholder => "キーワード[例：うさぎ]", class: 'top-search-form', id:'top-search-form-keyword' %>
          </div>
          <%= f.submit "検索", class:'top-search-submit' %>
        </div>
      <% end %>
    </div>
  </div>
</div>