
<!-- トップページ用サイドナビ -->
<div id="sidenavi">
  <ul class="data-count-area">
    <li class="data-count_store">
      <div class="data-count_store_count">
        <%= @all_petsitters.count %>
      </div>
      <div class="data-count_store_text">
        店舗
      </div>
    </li>
    <li class="data-count_user">
      <div class="data-count_user_count">
        <%= @all_users.count %>
      </div>
      <div class="data-count_user_text">
        ユーザー
      </div>
    </li>
    <li class="data-count_review">
      <div class="data-count_review_count">
        <%= @all_reviews.count %>
      </div>
      <div class="data-count_review_text">
        口コミ
      </div>
    </li>
  </ul>
  <!-- 以下、ログイン中のときは表示 -->
  <% if current_user %>
    <div class="user-info-area">
      <div class="user-info-main-area">
        <div class="user-top-data">
          <%=link_to user_path(current_user.id, class:'user-top-data_link') do%>
            <%= image_tag("136x136.png", class:'user-icon') %>
            <%= current_user.name %>さん
          <% end %>
        </div>
        <ul class="user-action-data">
          <li class="act-data"><%=link_to '利用したお店', user_histories_path(current_user.id) %><%= current_user.reviews.count %></li>
          <li class="act-data"><%=link_to '保存したお店', user_clips_path(current_user.id) %><%= current_user.likes.count %></li>
        </ul>
      </div>

      <div class="user-bookmark">
        <div class="user-bookmark_title">
          保存したお店
        </div>
        <!-- 以下、繰り返し処理 -->
        <ul class="user-bookmark_stores">
          <!-- ログイン中ユーザーが過去に保存したペットシッターを表示 -->
          <% @liked_petsitters.each do |petsitter| %>
            <%= link_to petsitter_path(petsitter.id) do %>
              <li class="user-bookmark_store">
                <%=image_tag("136x136.png", class:'store-icon') %>
                <div class="bookmark_store_info">
                  <div class="bookmark_store_info_name"><%= petsitter.name %></div>
                  <div class="bookmark_store_info_area"><%= petsitter.town %></div>

                  <!--星評価-->
                  <div class="bookmark_store_info_rate">
                    <div id="bookmark-star-rate-<%= petsitter.id %>" class="shop-star-rate"></div>
                    <script>
                        $('#bookmark-star-rate-<%= petsitter.id %>').raty({
                            size: 16,
                            half: true,
                            starOff:  '<%= asset_path('star-off-little.png') %>',
                            starOn : '<%= asset_path('star-on-little.png') %>',
                            starHalf: '<%= asset_path('star-half-little.png') %>',
                            readOnly: true,
                            score: "<%= petsitter&.reviews.average(:rate).to_f.round(2) %>",
                        });
                    </script>
                    <div class="shop-rating_sidenavi"><%= petsitter&.reviews.average(:rate).to_f.round(2) %></div>
                  </div>
                  <!--/星評価-->

                  <!--星評価-->
<!--                  <div class="bookmark_store_info_rate">-->
<!--                    <div id="star-rate-<%#= petsitter.id %>"></div>-->
<!--                    <script>-->
<!--                        $('#star-rate-<%#= petsitter.id %>').raty({-->
<!--                            size: 12,-->
<!--                            half: true,-->
<!--                            starOff:  '<%#= asset_path('star-off-little.png') %>',-->
<!--                            starOn : '<%#= asset_path('star-on-little.png') %>',-->
<!--                            starHalf: '<%#= asset_path('star-half-little.png') %>',-->
<!--                            readOnly: true,-->
<!--                            number:       5,-->
<!--                            numberMax:    5,-->
<!--                            score: "<%#= petsitter&.reviews.average(:rate).to_f.round(2) || 0 %>",-->
<!--                        });-->
<!--                    </script>-->
<!--                    <div class="shop-rating_sidenavi"><%#= petsitter&.reviews.average(:rate).to_f.round(2) || 0 %></div>-->
<!--                  </div>-->
                  <!--/星評価-->
                  <!--            <div class="bookmark_store_info_review"><%#= current_user.petsitters.reviews %>★★★★★ 4.5</div>-->
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>

        <!--      <div class="user-bookmark-store_store">-->
        <%#=link_to image_tag("136x136.png"), root_path, class:'store-icon'%>
        <!--        <div class="bookmark_store_info">-->
        <!--          <div class="bookmark_store_info_name">テスト店ABCDDOOOO</div>-->
        <!--          <div class="bookmark_store_info_area">六本木</div>-->
        <!--          <div class="bookmark_store_info_review">★★★★★ 4.5</div>-->
        <!--        </div>-->
        <!--      </div>-->
        <div class="user_bookmark-store_footer">
          <%= link_to "保存したお店一覧へ" , user_clips_path(current_user.id) %>
        </div>
      </div>
    </div>
  <% end %>
</div>

