

<!-- 検索窓スペース-->
<% if @q != nil %>
<!--  <div class="search-place">-->
    <%#= search_form_for(@q, url:petsitters_path) do |f| %>
      <!--キーワード検索-->
<!--      <div class ="search-group">-->
        <%#= f.label :address, "エリア検索" %>
        <%#= f.search_field :address_cont, :placeholder => "都市エリア[例：東京]"  %>
<!--      </div>-->
<!--      <div class ="search-group">-->
        <%#= f.label :name_or_pet_type, "キーワード検索" %>
        <%#= f.search_field :name_or_pet_type_cont, :placeholder => "キーワード[例：うさぎ]"  %>
<!--      </div>-->
      <!--対応可能ペット検索-->
<!--      <div class ="search-group">-->
        <%#= f.label :pet_type %>
<!--        <%#= f.radio_button :pet_type_eq, '', {:checked => true} %>指定なし-->
<!--        <%#= f.radio_button :pet_type_cont, '犬' %>犬-->
<!--        <%#= f.radio_button :pet_type_cont, '猫' %>猫-->
<!--      </div>-->
      <%#= f.submit "検索" %>
    <%# end %>
<!--  </div>-->
<% end %>

<!-- トップページボックス1（エリア） -->
<div class="search-area">
  <div class="search-area_title">
    <h2>エリアから探す</h2>
  </div>
  <div class="search-area_area">
    <div class="selected-area">
      東京 35件
    </div>
      <ul class="top-areas">
        <li class="top-area">吉祥寺</li>
        <li class="top-area">六本木</li>
        <li class="top-area">府中</li>
        <li class="top-area">立川</li>
        <li class="top-area">原宿</li>
      </ul>
    <ul class="area-list clearfix">
      <li class="all-area">六本木</li>
      <li class="all-area">吉祥寺</li>
      <li class="all-area">国立</li>
      <li class="all-area">立川</li>
      <li class="all-area">府中</li>
      <li class="all-area">調布</li>
      <li class="all-area">是政</li>
      <li class="all-area">武蔵境</li>
      <li class="all-area">調布</li>
      <li class="all-area">是政</li>
    </ul>

  </div>
</div>

<!-- トップページボックス2（対応可能動物） -->
<div class="pet-type-area">
  <div class="pet-type-area_title">
    <h2>対応可能動物から探す</h2>
  </div>
  <div class="pet-type-area_area">
    <ul class="pet-type-pics">
      <li class="pet-type-pic"><%=link_to image_tag("136x136.png"), root_path%></li>
      <li class="pet-type-pic"><%=link_to image_tag("136x136.png"), root_path%></li>
      <li class="pet-type-pic"><%=link_to image_tag("136x136.png"), root_path%></li>
      <li class="pet-type-pic"><%=link_to image_tag("136x136.png"), root_path%></li>
      <li class="pet-type-pic"><%=link_to image_tag("136x136.png"), root_path%></li>
    </ul>
    <ul class="pet-type-list">
      <li class="all-pet-type">テスト</li>
      <li class="all-pet-type">テスト</li>
      <li class="all-pet-type">テスト</li>
      <li class="all-pet-type">テスト</li>
      <li class="all-pet-type">テスト</li>
      <li class="all-pet-type">テスト</li>
      <li class="all-pet-type">テスト</li>
      <li class="all-pet-type">テスト</li>
    </ul>
  </div>
</div>

<!-- トップページボックス3（曜日） -->
<div class="high-rate-area">
  <div class="high-rate-area_title">
    <h2>評判のお店をみる</h2>
  </div>
  <div class="high-rate-area_area">
    <ul class="high-rate-list">
      <li class="all-high-rate"><%=link_to image_tag("136x136.png"), root_path%>テスト店
      ちょっとした説明がここには入ります。。。。。。
      </li>
      <li class="all-high-rate"><%=link_to image_tag("136x136.png"), root_path%>テスト店
        ちょっとした説明がここには入ります。。。。。。
      </li>
      <li class="all-high-rate"><%=link_to image_tag("136x136.png"), root_path%>テスト店
        ちょっとした説明がここには入ります。。。。。。
      </li>
      <li class="all-high-rate"><%=link_to image_tag("136x136.png"), root_path%>テスト店
        ちょっとした説明がここには入ります。。。。。。
      </li>
    </ul>
  </div>
</div>



<!--<div>-->
<!--  <p>ペットシッター一覧</p>-->
<!--  <ul>-->
    <%# if @petsitters != nil %>
      <%# @petsitters.each do |petsitter| %>
        <%#= image_tag petsitter.image.url, :size => '200x150' unless petsitter.image.url.nil? %>
        <%#= petsitter.name %>
        <%#= petsitter.address %>
        <%#= petsitter.business_hours %>
        <%#= petsitter.regular_holiday %>
<!--        <%#= petsitter.pet_type %><br>-->
      <%# end %>
    <%#= paginate @petsitters %>
    <%# end %>
<!--  </ul>-->
<!--</div>-->


<%# if current_user %>
<!--  <div>-->
<!--    <p>ログイン中ユーザー</p>-->
<!--    <ul>-->
<!--      <li><%#= @user.name %></li>-->
<!--      <li><%#= @user.email %></li>-->
<!--    </ul>-->
<!--  </div>-->
<%# end %>

<!--<div>-->
<!--  <p>ユーザー一覧</p>-->
<!--  <ul>-->
    <%# if @users %>
      <%# @users.each do |user| %>
<!--        <li><%#= user.id %></li>-->
<!--        <li><%#= user.name %></li>-->
<!--        <li><%#= user.email %></li>-->
      <%# end %>
      <%#= paginate @users %>
    <%# end %>
<!--  </ul>-->
<!--</div>-->

<!-- googlemapテスト -->
<!--<h2>gmap</h2>-->

<!--<div id='map'>-->
<!--</div>-->

<!--<style>-->
<!--    #map{-->
<!--        height: 400px;-->
<!--        width: 600px;-->
<!--    }-->
<!--</style>-->

<!--<script>-->

<!--  let map-->
<!--  let geocoder-->
<!--  let marker-->
<!--  let center-->
<!--  let position-->

<!--  function initMap(){-->

<!--    // geocoderを初期化-->
<!--    geocoder = new google.maps.Geocoder()-->

<!--    // 入力を取得-->
<!--    let address = gon.address;-->

<!--    // geocoderを使って位置情報（緯度、軽度）を取得できるようにする-->
<!--    geocoder.geocode( { 'address': address}, function(results, status) {-->
<!--      // マップ中心とマップの場所指定を設定-->
<!--      center = results[0].geometry.location;-->
<!--      position = results[0].geometry.location;-->

<!--      // マップ情報を設定-->
<!--      map = new google.maps.Map(document.getElementById('map'), {-->
<!--          center: center,-->
<!--          position: position,-->
<!--          zoom: 16,-->
<!--      });-->

<!--      // マーカーの場所情報を設定-->
<!--      let markerOptions = {-->
<!--          map: map,-->
<!--          center: center,-->
<!--          position: position,-->
<!--      };-->

<!--      // マーカー情報を確定-->
<!--      let marker = new google.maps.Marker(markerOptions);-->

<!--    });-->
<!--  }-->

<!--</script>-->
<!-- 以下のYOUR_API_KEYには非公開情報を入れるようにする。そのままAPIキーは載せない。 -->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>-->