
<!-- トップページボックス1（エリア） -->
<div class="search-area">
  <div class="search-area_title">
    <h2>エリアから探す</h2>
  </div>
  <div class="search-area_area">
    <div class="top-area-name">
      <span class="top-area-name_title">東京</span>
      <span class="top-area-name_count"><%= Petsitter.where('address like ?','%東京%').count %>件</span>
    </div>
      <ul class="top-areas">
        <li class="top-area">
          <%= link_to petsitters_path(@q, :'q[address_cont' => "六本木"), class:'pet-type-pic_link' do %>
            六本木&nbsp;<span class="top-area_count"><%= Petsitter.where('address like ?','%六本木%').count %>件</span>
          <% end %>
        </li>
        <li class="top-area">
          <%= link_to petsitters_path(@q, :'q[address_cont' => "新宿"), class:'pet-type-pic_link' do %>
            新宿&nbsp;<span class="top-area_count"><%= Petsitter.where('address like ?','%新宿%').count %>件</span>
          <% end %>
        </li>
        <li class="top-area">
          <%= link_to petsitters_path(@q, :'q[address_cont' => "渋谷"), class:'pet-type-pic_link' do %>
            渋谷&nbsp;<span class="top-area_count"><%= Petsitter.where('address like ?','%渋谷%').count %>件</span>
          <% end %>
        </li>
        <li class="top-area">
          <%= link_to petsitters_path(@q, :'q[address_cont' => "八王子"), class:'pet-type-pic_link' do %>
            八王子&nbsp;<span class="top-area_count"><%= Petsitter.where('address like ?','%八王子%').count %>件</span>
          <% end %>
        </li>
        <li class="top-area">
          <%= link_to petsitters_path(@q, :'q[address_cont' => "立川"), class:'pet-type-pic_link' do %>
            立川&nbsp;<span class="top-area_count"><%= Petsitter.where('address like ?','%立川%').count %>件</span>
          <% end %>
        </li>
      </ul>
    <ul class="area-list clearfix">
      <li class="all-area"><%= link_to "港区", petsitters_path(@q, :'q[address_cont' => "港区") %></li></li>
      <li class="all-area"><%= link_to "千代田区", petsitters_path(@q, :'q[address_cont' => "千代田区") %></li></li>
      <li class="all-area"><%= link_to "文京区", petsitters_path(@q, :'q[address_cont' => "文京区") %></li></li>
      <li class="all-area"><%= link_to "板橋区", petsitters_path(@q, :'q[address_cont' => "板橋区") %></li></li>
      <li class="all-area"><%= link_to "池袋", petsitters_path(@q, :'q[address_cont' => "池袋") %></li>
      <li class="all-area"><%= link_to "吉祥寺", petsitters_path(@q, :'q[address_cont' => "吉祥寺") %></li>
      <li class="all-area"><%= link_to "調布", petsitters_path(@q, :'q[address_cont' => "調布") %></li></li>
      <li class="all-area"><%= link_to "国立", petsitters_path(@q, :'q[address_cont' => "国立") %></li></li>
      <li class="all-area"><%= link_to "府中", petsitters_path(@q, :'q[address_cont' => "府中") %></li></li>
      <li class="all-area"><%= link_to "相模原", petsitters_path(@q, :'q[address_cont' => "相模原") %></li></li>
    </ul>
  </div>
</div>

<!-- トップページボックス2（対応可能動物） -->
<div class="pet-type-area">
  <div class="pet-type-area_title">
    <h2>対応可能動物から探す</h2>
  </div>
  <div class="pet-type-area_area">
    <ul class="pet-type-pics">
      <li class="pet-type-pic">
        <%= link_to petsitters_path(@q, :'q[name_or_pet_type_cont' => "犬"), class:'pet-type-pic_link' do %>
          <%= image_tag("dog.jpg", class:'pet-type-img') %>
            <span class="pet_type_name">犬</span>
            <span class="pet_type_count"><%= Petsitter.where('pet_type like ?','%犬%').count %>件</span>
        <% end %>
      </li>
      <li class="pet-type-pic">
        <%= link_to petsitters_path(@q, :'q[name_or_pet_type_cont' => "猫"), class:'pet-type-pic_link' do %>
          <%= image_tag("cat.jpg", class:'pet-type-img') %>
          <span class="pet_type_name">猫</span>
          <span class="pet_type_count"><%= Petsitter.where('pet_type like ?','%猫%').count %>件</span>
        <% end %>
      </li>
      <li class="pet-type-pic">
        <%= link_to petsitters_path(@q, :'q[name_or_pet_type_cont' => "うさぎ"), class:'pet-type-pic_link' do %>
          <%= image_tag("rabbit.jpg", class:'pet-type-img') %>
          <span class="pet_type_name">ウサギ</span>
          <span class="pet_type_count"><%= Petsitter.where('pet_type like ?','%うさぎ%').count %>件</span>
        <% end %>
      </li>
      <li class="pet-type-pic">
        <%= link_to petsitters_path(@q, :'q[name_or_pet_type_cont' => "他小動物"), class:'pet-type-pic_link' do %>
          <%= image_tag("exoticanimal.jpg", class:'pet-type-img') %>
          <span class="pet_type_name">他小動物</span>
          <span class="pet_type_count"><%= Petsitter.where('pet_type like ?','%他小動物%').count %>件</span>
        <% end %>
      </li>
      <li class="pet-type-pic">
        <%= link_to petsitters_path(@q, :'q[name_or_pet_type_cont' => "鳥類"), class:'pet-type-pic_link' do %>
          <%= image_tag("bird.jpg", class:'pet-type-img') %>
          <span class="pet_type_name">鳥類</span>
          <span class="pet_type_count"><%= Petsitter.where('pet_type like ?','%鳥類%').count %>件</span>
        <% end %>
      </li>
      <li class="pet-type-pic">
        <%= link_to petsitters_path(@q, :'q[name_or_pet_type_cont' => "爬虫類"), class:'pet-type-pic_link' do %>
          <%= image_tag("lizard.jpg", class:'pet-type-img') %>
          <span class="pet_type_name">爬虫類</span>
          <span class="pet_type_count"><%= Petsitter.where('pet_type like ?','%爬虫類%').count %>件</span>
        <% end %>
      </li>
      <li class="pet-type-pic">
        <%= link_to petsitters_path(@q, :'q[name_or_pet_type_cont' => "魚類"), class:'pet-type-pic_link' do %>
          <%= image_tag("fish.jpg", class:'pet-type-img') %>
          <span class="pet_type_name">魚類</span>
          <span class="pet_type_count"><%= Petsitter.where('pet_type like ?','%魚類%').count %>件</span>
        <% end %>
      </li>
      <li class="pet-type-pic">
        <%= link_to petsitters_path(@q, :'q[name_or_pet_type_cont' => "その他"), class:'pet-type-pic_link' do %>
          <%= image_tag("egg.jpg", class:'pet-type-img') %>
          <span class="pet_type_name">その他</span>
          <span class="pet_type_count"><%= Petsitter.where('pet_type like ?','%その他%').count %>件</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<!-- トップページボックス3（曜日） -->
<div class="high-rate-area">
  <div class="high-rate-area_title">
    <h2>評判のお店をみる</h2>
  </div>
  <div class="high-rate-area_area">
    <div class="petsitter-store-contents">
      <ul class="petsitter-store-content_topindex">
        <% @petsitters.each do |petsitter| %>
          <%= link_to petsitter_path(petsitter.id), class:'shop-link' do %>
            <div class="top-info">
              <div class="top-info_name-and-area">
                <li class= 'top-info_name-and-area_name'><%= petsitter.name %></li>
                <li class='top-info_name-and-area_area'><%= petsitter.area %>／<%= petsitter.pet_type %></li>
              </div>
              <div class="top-info_action-buttons">
                <!-- reviewのアイコン＋レビューの数 -->
                <div class="action-icon action-icon_left">
                  <% if current_user_reviewd_this_petsitter?(petsitter.id) %>
                    <i class="fas fa-user-check fa-lg user-count-<%= petsitter.reviews.count %>"></i><span><%= petsitter.reviews.count %></span>
                  <% else %>
                    <i class="fas fa-user-check fa-lg user-count-0"></i>
                  <% end %>
                </div>
                <!-- bookmarkのアイコン＋ブックマークされた数 -->
                <div class="action-icon">
                  <% if current_user_liked_this_petsitter?(petsitter.id) %>
                    <i class="fas fa-bookmark fa-lg clip-count-<%= petsitter.likes.count %>"></i>
                  <% else %>
                    <i class="fas fa-bookmark fa-lg clip-count-0"></i>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="bottom-info">
              <div class="bottom-info_left">
                <% if petsitter&.image.blank? %>
                  <%= image_tag 'default.jpg', class:'samplesample' %>
                <% else %>
                  <%= image_tag petsitter&.image.url, class:'samplesample' %>
                <% end %>
              </div>

              <div class="bottom-info_right">
                <div class="bottom-info_right_overview">
                  <%= petsitter&.overview&.truncate(70, omission: '...') %>
                </div>
                <div class="bottom-info_right_rating">

                  <!--星評価-->
                  <div id="sample-star-rate-<%= petsitter.id %>" class="shop-star-rate"></div>
                  <script>
                      $('#sample-star-rate-<%= petsitter.id %>').raty({
                          size: 16,
                          half: true,
                          starOff:  '<%= asset_path('star-off-little.png') %>',
                          starOn : '<%= asset_path('star-on-little.png') %>',
                          starHalf: '<%= asset_path('star-half-little.png') %>',
                          // half: true,
                          readOnly: true,
                          score: "<%= petsitter&.reviews.average(:rate).to_f.round(2) || 0 %>",
                      });
                  </script>
                  <div class="shop-rating"><%= petsitter&.reviews.average(:rate).to_f.round(2) || 0 %></div>
                  <!--/星評価-->

                  <!-- 口コミ投稿 -->
                  <div class="shop-count">
                    <i class='fas fa-comment-dots'></i><span class="shop-count_text"><%= petsitter.reviews.count %>件</span>
                  </div>
                  <!-- bookmark -->
                  <div class="shop-count">
                    <i class='fas fa-bookmark'></i><span class="shop-count_text"><%= petsitter.likes.count %>件</span>
                  </div>
                </div>

                <!-- レビューがない場合はデフォルト表示。あればレビューを表示。 -->
                <% if petsitter.reviews.blank? %>
                  <div class="bottom-info_right_top_review">
                    <div class="bottom-info_right_top_review_title-and-user">
                      <div class="bottom-info_right_top_review_title-and-user_title">口コミ未投稿</div>
                      <div class="bottom-info_right_top_review_title-and-user_user">by</div>
                    </div>
                    <div class="bottom-info_right_top_review_content">まだ口コミが投稿されていません</div>
                  </div>
                <% else %>
                  <div class="bottom-info_right_top_review">
                    <div class="bottom-info_right_top_review_title-and-user">
                      <div class="bottom-info_right_top_review_title-and-user_title"><%= petsitter.reviews.last.title %></div>
                      <div class="bottom-info_right_top_review_title-and-user_user">by <%= getUserNameByUserId(petsitter.reviews.first.user_id) %></div>
                    </div>
                    <div class="bottom-info_right_top_review_content"><%= petsitter.reviews.first.content %></div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
