<% if user&.errors.present? %>
  <ul id="error_explanation">
    <% user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: user, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'required' %>
    <%= f.text_field :name, class: 'form-control', id:'user_name', value: user&.name, required: true %>
  </div>
  <div class="form-group">
    <%= f.label :email, class: 'required' %>
    <%= f.email_field :email, class: 'form-control', id:'user_email', value: user&.email, required: true %>
  </div>
  <div class="form-group">
    <%= f.label :password, class: 'required' %>
    <%= f.password_field :password, class: 'form-control', id:'user_password', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, class: 'required' %>
    <%= f.password_field :password_confirmation, class: 'form-control', id:'user_password_confirmation', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :image %>

    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png',class:"image-btn", id: 'user_image' , value: user&.image %>
    <% if user&.image? %>
      <%= image_tag user.image.url, :size => '270x180' %>
    <% else %>
      <%= image_tag default.jpg, :size => '270x180' %>
    <% end %>

<!--    <button type="button">-->
<!--    </button>-->
  </div>

  <%= f.submit nil, class:'btn btn-primary user-submit', id: 'submit_btn' %>
<% end %>