<div class="login-page-body">
  <div class="login-page-body_left">
    <h2 class="login-page-body_left_title">アカウント作成</h2>
    <h5 class="login-page-body_left_about">新規アカウントの作成</h5>
    <%= link_to "ログイン", login_path, class:'btn login-btn' %>
    <div class="test-login">※アカウント登録をせずに機能を確かめたい方は</div>
    <%= link_to 'こちら', tops_guest_sign_in_path, class:'test-login-btn', method: :post %>
    <div class="sns-login">
      <!-- SNSログインボタン -->
      <%= render partial: 'layouts/snsLoginBtn' %>
    </div>
  </div>

  <div class="login-page-body_right">
    <%# エラーメッセージここから %>
    <% if @user&.errors.present? %>
      <ul class="form-alert">
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <%# エラーメッセージここまで %>

    <%= form_with model: @user, local: true do |f| %>
      <div class="form-group">
        <%= f.label :name, class: 'field-label required' %>
        <%= f.text_field :name, class: 'form-control', id:'user_name', value: @user&.name, required: true %>
      </div>
      <div class="form-group">
        <%= f.label :email, class: 'field-label required' %>
        <%= f.email_field :email, class: 'form-control', id:'user_email', value: @user&.email, required: true %>
      </div>
      <div class="form-group">
        <%= f.label :password, class: 'field-label required' %>
        <%= f.password_field :password, class: 'form-control', id:'user_password', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, class: 'field-label required' %>
        <%= f.password_field :password_confirmation, class: 'form-control', id:'user_password_confirmation', required: true %>
      </div>
      <%= f.submit 'アカウント作成', class: 'btn user-submit', id: 'submit_btn' %>

    <% end %>
  </div>
</div>