<h1>ユーザー新規登録</h1>
<div class='nav justify-content-end'>
  <%= link_to 'トップページへ', root_path, class:'nav-link' %>
</div>

<%= render partial: 'form', locals: { user: @user } %>

<%= link_to "Twitterアカウントでログイン", "/auth/twitter" %>
<%= link_to "Facebookアカウントでログイン", "/auth/facebook" %>
<%= link_to "Googleアカウントでログイン", "/auth/google_oauth2" %>