
<!-- パンクズリスト表示部分 -->
<div class="breadcrumbs-list">
  <% if controller&.controller_name == "petsitters" %>
    <% if controller&.action_name != "index" %>
      <% breadcrumb :petsitter %>
      <%= breadcrumbs separator: " &nbsp;&gt;&nbsp; " %>
    <% else %>
      <% breadcrumb :petsitters %>
      <%= breadcrumbs separator: " &nbsp;&gt;&nbsp; " %>
    <% end %>
  <% else %>
    <% if controller&.action_name == "edit" %>
      <% breadcrumb :user_edit %>
      <%= breadcrumbs separator: " &nbsp;&gt;&nbsp; " %>
    <% elsif controller&.action_name == "histories" %>
      <% breadcrumb :user_histories %>
      <%= breadcrumbs separator: " &nbsp;&gt;&nbsp; " %>
    <% elsif controller&.action_name == "clips" %>
      <% breadcrumb :user_clips %>
      <%= breadcrumbs separator: " &nbsp;&gt;&nbsp; " %>
    <% else %>
      <% breadcrumb :user %>
      <%= breadcrumbs separator: " &nbsp;&gt;&nbsp; " %>
    <% end %>
  <% end %>
</div>