<% if review&.errors.present? %>
  <ul class="form-alert">
    <% review.errors.full_messages.each do |message| %>
      <% if message.include? "Petsitter" %>
        <li><%= message.delete("Petsitter") %></li>
      <% else %>
        <li><%= message %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<!--エラーメッセージ-->
  <!-- 口コミ入力フォーム -->
  <%= form_with model: review, local: true do |f| %>
    <div class="form-box">
      <div class="form-box_title">
        <!-- タイトル -->
        <% if current_page?(petsitter_new_reviews_path(@petsitter.id)) %>
          口コミを投稿する
        <% else %>
         口コミを編集する
        <% end %>
      </div>
      <div class="form-box_review">
        <div class="form-group-row">
          <!-- 評価 -->
          <div class="rate-title">
            <%= f.label :rate , id:'test' %>
          </div>
          <div class="rate-count" id="submit-star">
            <%= f.hidden_field :rate, id: :review_star, id:'review_title', value: review&.title %>
          </div>
          <script>
              $('#submit-star').raty({
                  size     : 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  scoreName: 'review[rate]',
                  half: true,
                  score: <%= review.rate unless review == nil %>
              });
          </script>
        </div>
      </div>
      <div class="form-box_content">
        <!-- タイトル -->
        <div class="form-group-row">
          <%= f.text_field :title, class: "form-group-row_title", id:'review_title', value: review&.title,
                           placeholder:'口コミのタイトルを入力してください'%>
        </div>

        <!-- 口コミ -->
        <div class="form-group-row">
          <%= f.text_area :content, class: "form-group-row_field", rows: "8", id:'review_content', value: review&.content,
                          placeholder:'口コミ本文を入力してください' %>
        </div>

        <!--ペットシッターIDの送信-->
        <%= f.hidden_field :petsitter_id, { value: @petsitter.id } %>

      </div>
      <div class="form-box_submit">
        <!-- 確認ボタン -->
        <%= f.submit '投稿する', class:"btn-success" %>
      </div>
    </div>

  <% end %>
