
<%= render partial: 'petsitters/shopHeader' %>

<ul class="shop-menu-bar">
  <li class="shop-menu-link selected-menu"><%= link_to "店舗トップ", petsitter_path %></li>
  <li class="shop-menu-link"><%= link_to "詳細", petsitter_details_path %></li>
  <li class="shop-menu-link"><%= link_to "口コミ", petsitter_reviews_path %></li>
  <li class="shop-menu-link"><%= link_to "地図", petsitter_map_path %></li>
</ul>

<div class="shop-content">

  <%= render partial: 'form', locals: { review: @review } %>

</div>