!-- トップページボックス1（エリア） -->
<div class="search-area">
  <div class="search-area_title">
    <h2>エリアから探す</h2>
  </div>
  <div class="search-area_area">
    <div class="selected-area">
      東京 35件
    </div>
    <ul class="top-areas">
      <li class="top-area">吉祥寺</li>
      <li class="top-area">六本木</li>
      <li class="top-area">府中</li>
      <li class="top-area">立川</li>
      <li class="top-area">原宿</li>
    </ul>
    <ul class="area-list clearfix">
      <li class="all-area">六本木</li>
      <li class="all-area">吉祥寺</li>
      <li class="all-area">国立</li>
      <li class="all-area">立川</li>
      <li class="all-area">府中</li>
      <li class="all-area">調布</li>
      <li class="all-area">是政</li>
      <li class="all-area">武蔵境</li>
      <li class="all-area">調布</li>
      <li class="all-area">是政</li>
    </ul>

  </div>
</div>

<!-- トップページボックス2（対応可能動物） -->
<div class="pet-type-area">
  <div class="pet-type-area_title">
    <h2>対応可能動物から探す</h2>
  </div>
  <div class="pet-type-area_area">
    <ul class="pet-type-pics">
      <li class="pet-type-pic"><%=link_to image_tag("136x136.png"), root_path%></li>
      <li class="pet-type-pic"><%=link_to image_tag("136x136.png"), root_path%></li>
      <li class="pet-type-pic"><%=link_to image_tag("136x136.png"), root_path%></li>
      <li class="pet-type-pic"><%=link_to image_tag("136x136.png"), root_path%></li>
      <li class="pet-type-pic"><%=link_to image_tag("136x136.png"), root_path%></li>
    </ul>
    <ul class="pet-type-list">
      <li class="all-pet-type">テスト</li>
      <li class="all-pet-type">テスト</li>
      <li class="all-pet-type">テスト</li>
      <li class="all-pet-type">テスト</li>
      <li class="all-pet-type">テスト</li>
      <li class="all-pet-type">テスト</li>
      <li class="all-pet-type">テスト</li>
      <li class="all-pet-type">テスト</li>
    </ul>
  </div>
</div>

<!-- トップページボックス3（曜日） -->
<div class="high-rate-area">
  <div class="high-rate-area_title">
    <h2>評判のお店をみる</h2>
  </div>
  <div class="high-rate-area_area">
    <ul class="high-rate-list">
      <li class="all-high-rate"><%=link_to image_tag("136x136.png"), root_path%>テスト店
      </li>
      <li class="all-high-rate"><%=link_to image_tag("136x136.png"), root_path%>テスト店
      </li>
      <li class="all-high-rate"><%=link_to image_tag("136x136.png"), root_path%>テスト店
      </li>
      <li class="all-high-rate"><%=link_to image_tag("136x136.png"), root_path%>テスト店
      </li>
    </ul>
  </div>
</div>