
<!-- flashメッセージの表示 -->
<%= render partial: 'layouts/errorMessage' %>

<!-- トップページ以外のヘッダー -->
<header class="header">
  <div class="header_border">
    <div class="header-wrapper">
      <div class="header-wrapper_top">
        <div class="page-name"></div>
        <div class="menu">
          <ul class="menu-list">
            <% if current_user %>
              <!--              ログイン中ユーザー用メニュー-->
              <li class="menu-option"><%= link_to 'トップページ', root_path %></li>
              <li class="menu-option"><%= link_to 'ペットシッター一覧', petsitters_path %></li>
              <li class="menu-option"><%= link_to 'ユーザー詳細', user_path(current_user.id) %></li>
              <% if current_user.admin == true %>
                <li class="menu-option"><%= link_to 'ペットシッター新規作成', new_petsitter_path %></li>
              <% end %>
              <li class="menu-option"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
            <% else %>
              <!--             未ログインユーザー用メニュー -->
              <li class="menu-option"><%= link_to 'トップページ', root_path %></li>
              <li class="menu-option"><%= link_to 'ペットシッター一覧', petsitters_path %></li>
              <li class="menu-option"><%= link_to '新規登録', new_user_path %></li>
              <li class="menu-option"><%= link_to 'ログイン', login_path %></li>
              <li class="menu-option"><%= link_to 'ゲストログイン', tops_guest_sign_in_path, method: :post %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class='header-wrapper_bottom'>
        <div class='search-form'>
          <div id='app-icon-box'><%=link_to image_tag("logooo.png", class: 'header-icon' ), root_path%></div>
          <div class='search-box'>
            <%= search_form_for(@q, url:petsitters_path, class:'shop-search' ) do |f| %>
              <div class="search-container">
                <%= f.search_field :address_cont, :placeholder => "エリア[例：新宿]", class:'search-content search-container_area' %>
                <%= f.search_field :name_or_pet_type_cont, :placeholder => "キーワード[例：うさぎ]", class:'search-content search-container_keyword' %>
                <!-- レート検索 -->
                <%= button_tag '<i class="fas fa-search fa-2x"></i>'.html_safe, :type => "submit",
                               :class=>"btn btn-default btn-s-md search-container_submit" %>
                <%#= f.submit "検索", class:'btn', class:'search-container_submit' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>