
<!-- 以下フッターです -->
<footer id="footer01" class="footer outer-block">
  <div class="logo">
    <a href="https://b-risk.jp/">
      <img src="img/logo.svg" alt="">
    </a>
  </div>
  <ul class="footer-nav">
    <li><%=link_to 'WORKS', root_path %></li>
    <li><%=link_to 'BLOG', root_path %></li>
    <li><%=link_to 'RECRUIT', root_path %></li>
    <li><%=link_to 'COMPANY', root_path %></li>
    <li><%=link_to 'CONTACT', root_path %></li>
  </ul>
  <p class="copyright">
    COPYRIGHT © BRISK Inc. All rights Reserved.
  </p>
</footer>