
<!--星評価-->
<div id="star-rate-<%= @petsitter.id %>"></div>
<script>
    $('#star-rate-<%= @petsitter.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        // half: true,
        readOnly: true,
        <% if @reviews %>
          score: "<%= @reviews.average(:rate).to_f.round(2) || 0 %>",
        <% else %>
          score: "0",
        <% end %>
    });
</script>

<div class="shop-rating">
  <% if @reviews %>
    <%= @reviews.average(:rate).to_f.round(2) || 0 %>
  <% else %>
    0
  <% end %>
</div>
<!--/星評価-->
