<!DOCTYPE html>
<html>
  <head>
    <title>PetsitterList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- stylesheetとjavascriptを使用できるようにするためのimport文-->
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダーメニュー -->
    <% if current_page?(root_path) %>
      <%= render partial: 'tops/indexHeader' %>
    <% else %>
      <%= render partial: 'layouts/commonHeader' %>
      <%= render partial: 'layouts/commonSecondHeader' %>
    <% end %>

    <div id="wrap">
      <div id="contents">
        <h2>
          <!-- flashメッセージの表示 -->
          <div class="container">
            <% if flash.notice.present? %>
              <div class="alert alert-success"><%= flash.notice %></div>
            <% end %>
            <% if flash.alert.present? %>
              <div class="alert alert-warning"><%= flash.alert %></div>
            <% end %>
          </div>
          <%= yield %>
        </h2>
      </div>
      <!-- 以下、トップページ用サイドナビ -->
      <% if current_page?(root_path) %>
        <%= render partial: 'tops/sidenavi' %>
      <% end %>

      <!-- 以下、フッターです -->
      <%= render partial: 'layouts/footer' %>

    </div>
  </body>
</html>
