<!DOCTYPE html>
<html>
  <head>
    <title>PetsitterList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- stylesheetとjavascriptを使用できるようにするためのimport文-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- ページネーションを綺麗にするためのbootstrapリンク（なんか文字などが小さくなってしまう現象あり）-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--raty導入-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.raty.js"></script>
  </head>

  <body>
  <!-- ヘッダーメニュー -->
    <header class='header'>
      <ul class="navbar-nav ml-auto">
        <% if current_user %>
          <!-- ログイン中ユーザー用メニュー -->
          <li claas="nav-item"><%= link_to 'トップページ', root_path, class: 'nav-link' %></li>
          <li claas="nav-item"><%= link_to 'ペットシッター一覧', petsitters_path, class: 'nav-link' %></li>
          <li claas="nav-item"><%= link_to 'ペットシッター新規登録', new_petsitter_path, class: 'nav-link' %></li>
          <li claas="nav-item"><%= link_to 'ユーザー詳細', user_path(current_user.id), class: 'nav-link' %></li>
          <li claas="nav-item"><%= link_to 'ログアウト', logout_path, method: :delete,  class: 'nav-link' %></li>
        <% else %>
          <!-- 未ログインユーザー用メニュー -->
          <li claas="nav-item"><%= link_to 'トップページ', root_path, class: 'nav-link' %></li>
          <li claas="nav-item"><%= link_to 'ペットシッター一覧', petsitters_path, class: 'nav-link' %></li>
          <li claas="nav-item"><%= link_to '新規登録', new_user_path, class: 'nav-link' %></li>
          <li claas="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </header>
    <!-- flashメッセージの表示 -->
    <div class="container">
      <% if flash.notice.present? %>
        <div class="alert alert-success"><%= flash.notice %></div>
      <% end %>
      <% if flash.alert.present? %>
        <div class="alert alert-warning"><%= flash.alert %></div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
