<!DOCTYPE html>
<html>
  <head>
    <title>PetsitterList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- stylesheetとjavascriptを使用できるようにするためのimport文-->
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダーメニュー -->
    <% if current_page?(root_path) %>
      <%= render partial: 'tops/indexHeader' %>
    <% else %>
      <%= render partial: 'layouts/commonHeader' %>
      <% if user_signed_in? %>
        <%#= render partial: 'layouts/commonSecondHeader' %>
      <% end %>
    <% end %>

    <!-- トップページ用ボディ&フッター部分 -->
    <% if current_page?(root_path) %>
    <div id="wrap">
      <div id="index-contents">
        <h2>
          <!-- flashメッセージの表示 -->
          <%= render partial: 'layouts/errorMessage' %>
          <%= yield %>
        </h2>
      </div>
      <!-- 以下、トップページ用サイドナビ -->
        <%= render partial: 'tops/sidenavi' %>
      <!-- 以下、フッター -->
      <%= render partial: 'layouts/footer' %>
    </div>
    <% end %>

    <!-- トップページ以外のボディ&フッター -->
    <% unless current_page?(root_path) %>
    <div id="wrap">
      <div id="body-contents">
        <h2>
          <!-- flashメッセージの表示 -->
          <%= render partial: 'layouts/errorMessage' %>
          <%= yield %>
        </h2>
      </div>
      <!-- 以下、フッター -->
      <%= render partial: 'layouts/footer' %>
    </div>
    <% end %>
  </body>
</html>
